{% extends "base.html" %}
{% block content %}

<h2>🛒 Carrito de Compras</h2>

<div class="cart-list">

    {% if items %}
        {% for item in items %}
        <div class="cart-item">
            <img src="{{ item.image }}" alt="{{ item.name }}">
            
            <div class="info">
                <strong>{{ item.name }}</strong>
                <p>${{ item.price }}</p>
            </div>
        </div>
        {% endfor %}

        <p class="total">Total: ${{ items | sum(attribute="price") }}</p>

        <a href="/vaciar" class="button" style="background:#d93025;">Vaciar carrito</a>

    {% else %}
        <p class="empty">Tu carrito está vacío 🎒</p>
    {% endif %}

</div>

{% endblock %}